* {
  padding: 0;
  margin: 0;
}
body {
  font-family: roboto + slab;
}
header {
  background: rgb(201, 179, 228);
  background: linear-gradient(
    180deg,
    rgba(201, 179, 228, 1) 8%,
    rgba(111, 79, 129, 0.945) 68%
  );
  color: black;
  padding: 100px 0;
}
header h1 {
  text-align: center;
  padding: 10px;
  font-family: aleo;
}
.logo-head{
  width: 60px;
  height: auto;
  position: relative;
}
header {
  text-align: center;
  padding: 10px 0px;
}
main {
  background: rgb(201, 179, 228);
  background: linear-gradient(
    0deg,
    rgba(201, 179, 228, 1) 4%,
    rgba(134, 132, 135, 0.9450630594034489) 80%
  );
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
nav ul li a {
  color:  rgb(32, 32, 32);
  text-decoration: none;
  /* padding: 5px 50px; */
  margin: 80px;
  padding: 10px;
}
nav ul li a:hover {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
}
nav ul li{
  padding: 10px;
}
/* .logo{ width: 7%;
} */
.inicio {
  background: url(./img/monaco-4563055_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.parrafo-inicio p {
  text-align: justify;
  font-size: 30px;
  padding-left: 20vw;
  padding-top: 50px;
  color: white;
  padding: 10px;
}
.parrafo-inicio {
  padding: 0px 74px;
  margin: 0px 29px;
}
.pie-inicio {
  color:white;
    padding: 0px;
    font-size: 25px;
    padding-left: 32px;
}


.conteiner {
  background-color: rgb(63, 62, 62);
    background-size: cover;
    height: 19vw;
}
.conteiner h2 {
  text-align: center;
  padding: 22px;
}
.textos {
  /* padding: 50px 400px 50px 400px; */
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.nosotros {
  width: 100%;
  height: 160px;
}
/* h3 {
  padding: 0px 15px 15px 15px;
} */

.gráfico {
  width: 90vw;
  padding: 15px;
}
.container2 {
  background-color: rgb(63, 62, 62);
  background-size: cover;
  height: 19vw;
}

.acerca-de h2 {
  text-align: center;
  padding: 5px;
  
}
.texto-main{
    margin: 10px 10px 0px 10px;
    text-align: justify;
}
p{
    font-size: 20px;
    /* text-indent: 1em; */
}
span{
  color: blue;
}
.servicios{
  width: 100%;
  height: 160px;
}
form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 18px 40px;
  padding: 0px;
}
form label {
  margin-bottom: 10px;
}
form input {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
}
textarea{
  margin-bottom: 16px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  
}
form button {
  padding: 12px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
}
form button:hover {
  background-color:rgb(137, 42, 137);
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-delete:hover {
  background-color: rgb(137, 17, 25);
}
.card-title {text-align: center;}

.servicios-conteiner {
  background-color: rgb(63, 62, 62);
    background-size: cover;
    height: 19vw;
}
.servicios-conteiner h2{
  text-align: center;
  padding: 22px;
}
.card-container{
  width: 100%;
    height: 25%;
    display: flex;
    max-width: 1100px;
    
    flex-direction: row;
    flex-wrap: wrap;
  
}
.card{
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow:5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}
.card-text{
  font-size: 20px;
  text-align: center;
  padding: 9px

}
img{
  width: 100%;
  height: 210px; 
  margin: 10px 0px;

}

.card-body{
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
 justify-content: center;
 
}
.card-body p{
  line-height: 1.5;
  color: black;
}
.card-body h3{
  font-weight: 400;
  margin-bottom: 15px;
}
.boton{
  text-decoration: none;
  display: inline-block;
  
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 400ms ease;
  align-items: center;
 margin-left: 83px;
 margin-bottom: 10px;
}
.boton:hover{
  background: rgb(137, 42, 137);
  color: white;
  align-items: center;
  
}
.contacto{
  width: 100%;
    height: 160px;
}
.contacto-container{
  background-color: rgb(63, 62, 62);
    background-size: cover;
    height: 19vw;
}
.contacto-container h2{
  text-align: center;
  padding: 22px;
}
.formulario{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.formulario p{
  padding: 7px;
  text-align: center;
}
.maps{
  margin: 20px 20px 0px 20px;
  box-sizing: content-box;
}
footer{
  background-color: rgb(71, 71, 71);
  color: black;

}
.logo-footer{
  width: 10vw;
  height: auto;
  margin-top: 5px;
}
i{
  padding: 5px;
}
.container-footer{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.home-footer{
  margin-top: 5px;
}
.siguenos{
  margin-top: 5px;
  text-align: center;
}
.creado{
  text-align: center;
}
.conteiner-galeria p{
  text-align: center;
  margin-bottom: 12px;
}
.galeria{
  width: 80%;
  height: auto;
  box-sizing: content-box;
  
}
.conteiner-galeria{

  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.galeria img:hover{
  box-shadow:5px 5px  rgba(153, 10, 122, 0.277);
  transform:scale(1.2);
  transition: 2s;
}