* {
  padding: 0;
  margin: 0;
}
body {
  font-family: roboto + slab;
}
header {
  background: rgb(201, 179, 228);
  background: linear-gradient(
    180deg,
    rgba(201, 179, 228, 1) 8%,
    rgba(17, 6, 23, 0.9450630594034489) 68%
  );
  color: black;
  padding: 100px 0;
}
header h1 {
  text-align: center;
  padding: 10px;
  font-family: aleo;
}
header {
  text-align: center;
  padding: 10px 0px;
}
main {
  background: rgb(201, 179, 228);
  background: linear-gradient(
    0deg,
    rgba(201, 179, 228, 1) 4%,
    rgba(134, 132, 135, 0.9450630594034489) 80%
  );
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
nav ul li a {
  color: rgb(137, 42, 137);
  text-decoration: none;
  padding: 5px 50px;
  margin: 80px;
}
nav ul li a:hover {
  background: white;
  color: black;
  border-radius: 10px;
}
/* .logo{ width: 7%;
} */
.inicio {
  background: url(./monaco-4563055_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vw;
}
.parrafo-inicio p {
  text-align: justify;
  font-size: 30px;
  padding-left: 20vw;
  padding-top: 50px;
  color: white;
  padding: 10px;
}
.parrafo-inicio {
  padding: 130px 200px;
}
.pie-inicio {
  font-size: 25px;
  color: red;
  padding: 35px;
  font-size: 25px;
  padding-left: 215px;
}

.conteiner {
  background-color: rgb(63, 62, 62);
  background-size: cover;
  height: 5vw;
}
.conteiner h2 {
  text-align: center;
  padding: 22px;
}
.textos {
  padding: 50px 400px 50px 400px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nosotros {
  width: 100%;
}
/* h3 {
  padding: 0px 15px 15px 15px;
} */

.gráfico {
  width: 45vw;
  
  padding: 15px;
}
.container2 {
  background-color: rgb(63, 62, 62);
  background-size: cover;
  height: 5vw;
}

.acerca-de h2 {
  text-align: center;
  padding: 22px;
  
}
.texto-main{
    padding:  30px 350px;
}
p{
    font-size: 20px;
    text-indent: 4em;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
form label {
  margin-bottom: 10px;
}
form input,
form textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
}
form button {
  padding: 12px;
  border: none;
  background-color: blue;
  color: black;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
}
form button:hover {
  background-color: cadetblue;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-delete:hover {
  background-color: rgb(111, 9, 16);
}
.acerca-de {
}
.servicios p {
  text-align: center;
  margin-top: 20px;
}
.servicios ul {
}
