*{
    padding: 0;
    margin: 0;
}
body{
    
    font-family:roboto+slab;
}
header{
    background: rgb(201,179,228);
    background: linear-gradient(180deg, rgba(201,179,228,1) 8%, rgba(17,6,23,0.9450630594034489) 68%);
    color:black;
    padding: 100px 0;
    
}
header h1{
    text-align: center;
    padding: 10px;
    font-family: aleo;
}
header{
    text-align: center;
    padding: 10px 0px;
}
main{
    background: rgb(201,179,228);
    background: linear-gradient(0deg, rgba(201,179,228,1) 4%, rgba(134,132,135,0.9450630594034489) 80%);
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
nav ul li a{
    color:rgb(137, 42, 137);
    text-decoration: none;
    padding: 5px 50px;
    margin: 80px;
}
nav ul li a:hover{
    background: white;
    color: black;
    border-radius: 10px;
}
.logo{ width: 7%;
}


.contenedor{
        display: flex;
        color: rgb(24, 24, 34);
        padding:  50px 120px 50px 50px;
        
    }
    .textos{
        padding: 20px;
       ;
    }
h3{
    padding: 0px 15px 15px 15px;
}
    
    
    
.img{
        
        width: 40vw;
        height: 15vw;
        border-radius:10px 0px 0px  10px;
        
    }
    .container2{
        display: flex;
        justify-content: center;
        background:url(./trabajadores.jpg);
        width: 100%;
        height: 25vw;
        text-align: center;
        font-size: 20px;
        color: rgb(171, 49, 49); 
  
        
        
    }
    .acerca-de{
    
        margin: 10px 250px;
        padding: 30px;
     
          
    }
    form{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
    }
    form label{
        margin-bottom: 10px;
    }
    form input, form textarea{
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 5px;

    }
    form button{
        padding: 12px;
        border: none;
        background-color: blue;
        color: black;
        cursor: pointer;
        margin: 5px;
        border-radius: 5px;
       width: 100px;
    }
    form button:hover{
        background-color: cadetblue;
        
    }
    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;


    }
    .button-delete:hover{
        background-color: rgb(111, 9, 16);
    }
   .acerca-de{
   
   
   }
   .servicios p{

    text-align: center;
    margin-top: 20px;
    
   }
   .servicios ul{

   }
  

    

    
 